body{
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-cont{
    display: flex;
    height: 100vh;
    flex-direction: row;
    
}
.left-box{
    background-color: rgb(46, 133, 27);
    flex: 0 1 40%;
}
.right-box{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    background-color: rgba(243, 243, 243, 0.918);
    flex: 1 1 60%;
    
}

.right-box > div{
    border-style: solid;
    border-width: 1px;
    flex:1 0
}
.top > p{
    margin-top: 150px;
    margin-left:30px;
    font-weight :600;
    border-style: solid;
    border-width: 1px;
    font-size: large;
}

.middle{
    background-color: rgb(255, 255, 255);
    
}
.form-container{
    display: flex;
    flex-direction: column;
}
.form-container>span{
    padding: 10px;
    margin-left: 20px;
}
.form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 10px 10px 30px;
    width: 45%;
}
label {
    display: block;
}

.form-group {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
}

.controls{
    margin: 30px;
}